/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #333;
	--secondary-color: chocolate;
	--background-color: aquamarine;
	--white: #fff;
	--light-gray: lightgray;
	--gray: #ccc;
	--text-color: #555;
	--box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

body {
	height: 130vh;
	background-color: var(--background-color);
	color: var(--primary-color);
	font-family: 'Lora', serif;
	padding: 1rem;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.header {
	padding: 10px 20px;
}
/* LANGUAGE SELECTOR */
.language-selector {
	margin: 20px;
	font-size: 16px;
}

.language-selector label {
	margin-right: 10px;
}

.language-selector select {
	padding: 5px;
	font-size: 16px;
}

/* HEADINGS */
.welcome-text {
	text-align: center;
	color: var(--primary-color);
	margin-bottom: 1rem;
	text-decoration: none;
}

h1 {
	text-align: center;
	color: var(--primary-color);
	margin-bottom: 1rem;
}

h2 {
	color: var(--primary-color);
	margin-bottom: 1rem;
}
.navbar,
.footer {
	max-width: 1400px;
	width: 100%;
}
/* NAVBAR */
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	padding: 10px;
	margin-bottom: 1rem;
	letter-spacing: 2px;
	border-radius: 10px;
	margin: 0 auto;
}

.navbar-list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar-list li {
	margin-right: 1rem;
}

.navbar-list a {
	color: var(--white);
	text-decoration: none;
}

.navbar-list a:hover {
	color: var(--secondary-color);
}

/* FOOTER */
.footer {
	position: fixed;
	background-color: var(--primary-color);
	color: var(--white);
	bottom: 0;
	padding: 10px 10px;
	border-radius: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer p {
	margin-bottom: 0.3rem;
	font-size: 1rem;
}

.footer-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.footer nav a {
	text-decoration: none;
	color: var(--white);
}

.footer nav a:hover {
	color: var(--secondary-color);
}

/* DISEASES SECTIONS */
.diseases {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.disease {
	background-color: whitesmoke;
	padding: 0.5rem;
	margin-top: 1rem;
	border: 1px solid var(--primary-color);
	text-align: center;
	display: none;
	border-radius: 10px;
	max-width: 700px;
}

.disease.active {
	display: block;
}

/* IMAGE PROPERTIES */
.image-gallery {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	position: relative;
}

.image-item {
	display: none;
	object-fit: contain;
	margin-bottom: 1rem;
	font-weight: bold;
	align-items: center;
}

figure {
	text-align: center;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

figcaption {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: var(--text-color);
}

/* ACTIVE IMAGES */
.image-item.active {
	display: block;
}

/* PAGINATION */
.pagination {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 0.5rem;
	width: 100%;
}

.pagination button {
	padding: 10px 20px;
	border: 1px solid var(--primary-color);
	background-color: var(--white);
	cursor: pointer;
}

.pagination button:hover {
	background-color: var(--light-gray);
}

.pagination button:disabled {
	background-color: var(--gray);
	cursor: not-allowed;
}

/* HERO */
.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1; /* Kitölti a rendelkezésre álló helyet */
}

.main-content h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

/* MODAL */

.hidden {
	display: none;
}

.modal {
	position: fixed;
	color: black;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 600px;
	max-height: 80vh;
	transform: translate(-50%, -50%);
	background-color: burlywood;
	padding: 20px;
	box-shadow: var(--box-shadow);
	z-index: 10;
	border-radius: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}

.modal-content {
	text-align: center;
	max-height: 70vh;
	overflow-y: auto;
	padding-right: 10px;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}

/* RESPONSIVE DESIGN */
/* Phones - Below 544px (34em) */
@media (max-width: 34em) {
	.welcome-text {
		font-size: 1.5rem;
	}

	.navbar-list {
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 0.4rem;
	}

	.navbar-list li {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	.modal {
		width: 95%;
		max-height: 90vh;
	}
}

/* Smaller tablets - below 704px (44em) */
@media (max-width: 44em) {
	.welcome-text {
		font-size: 1.5rem;
	}

	.navbar-list {
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 1rem;
	}

	.navbar-list li {
		margin-bottom: 1rem;
	}
}
