/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	font-family: 'Orbitron', sans-serif;
	min-height: 100vh;
	max-width: 1800px;
	margin: 0 auto;
	padding: 1rem;
	background-color: aquamarine;
}

/* Headings */
h1 {
	text-align: center;
	color: #333;
	margin-bottom: 1rem;
}

h2 {
	color: #333;
	margin-bottom: 1rem;
}

/* Navbar alapstílusok */
.navbar {
	background-color: #333;
	padding: 10px 20px;
	margin-bottom: 1rem;
}

/* Lista stílusok */
.navbar-list {
	display: flex;
	flex-wrap: wrap; /* Több sorba törés kisebb képernyőn */
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar-list li {
	margin-right: 1rem;
}

.navbar-list a {
	color: white;
	text-decoration: none;
}

.navbar-list a:hover {
	color: chocolate;
}

/* Reszponzív megoldás kisebb képernyőre */
@media (max-width: 768px) {
	.navbar-list {
		flex-direction: column; /* Függőleges elrendezés */
		align-items: flex-start; /* Balra igazított elemek */
	}

	.navbar-list li {
		margin-bottom: 10px; /* Térköz az elemek között */
		margin-right: 0; /* Oldalsó margó eltávolítása */
	}
}

/* Accordion */
.accordion {
	background-color: aliceblue;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 1s;
}

.active,
.accordion:hover {
	background-color: chocolate;
}

.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

/* Diseases sections */
.diseases {
	font-family: sans-serif;
}

#fungal-diseases {
	background-color: bisque;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #333;
	text-align: center; /* Tartalom középre igazítása */
}

#bacterial-diseases {
	background-color: #f0f0f0;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #333;
}
